root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
tab_width = 4

# K&R braces.
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_style_namespace_match_folder = true:suggestion

[*.{csproj,props,targets,slnx}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
